
.inicio-container{
    background-color: #f5f5f5;
    border-radius: 8px;
    padding: 40px;
    width: 100%;
    max-width: 450px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
}

.img-unison-logo{
    display: flex;
    align-content: flex-start;
    justify-self: center;
    justify-content: center;
    text-align: center;
    height: 200px;
    width: 250px;
}

.titulo-aplicacion{
    text-align: center;
}

.nombre-usuario{
    text-align: center;
}

.nombre-usuario h4{
    margin: 0px;
}



