button {
    padding: 12px 24px;      /* Botón más grande */
    font-size: 16px;         /* Texto más grande y legible */
    min-width: 120px;        /* Mismo ancho para todos */
    margin: 6px;             /* Espaciado entre botones */
    border-radius: 6px;      /* Esquinas redondeadas (opcional) */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover{
    background-color: var(--dorado-unison);
    color: var(--azul-oscuro-unison);
}

button:active{
    background-color: var(--dorado-oscuro-unison);
}