button, .modify-button, .eliminar-button {
    padding: 12px 24px;      /* Botón más grande */
    font-size: 16px;         /* Texto más grande y legible */
    min-width: 120px;        /* Mismo ancho para todos */
    margin: 6px;             /* Espaciado entre botones */
    border-radius: 4px;      /* Esquinas redondeadas (opcional) */
    cursor: pointer;
    background-color: var(--azul-oscuro-unison);
    color: var(--dorado-unison);
    text-decoration: none;
    transition: background-color 0.3s ease;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button:hover, .modify-button:hover{
    background-color: var(--dorado-unison);
    color: var(--azul-oscuro-unison);
}

button:active, .modify-button:active{
    background-color: var(--dorado-oscuro-unison);
}

.apartado-botones-secundarios{
    display: flex;
    justify-content: center;
    text-align: center;
}

.pestana-volver-atras{
    justify-self: flex-start;
}

.eliminar-button{
    background-color: #dc3545;
    color: #ffffff;
}