<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Productos</title>
    <link rel="stylesheet" href="../static/css/base.css">
    <link rel="stylesheet" href="../static/css/components/buttons.css">
    <link rel="stylesheet" href="../static/css/components/headers.css">
    <link rel="stylesheet" href="../static/css/pages/productos.css">
</head>
<body>

<div class="productos-container">
    <div class="container-header">
        <button type="button" class="pestana-volver-atras">atras</button> 
        <h2>Productos</h2>
    </div>

    <div class="filtros-busqueda">
        <h2>Filtros de filtros de busqueda</h2>
    </div>

    <div class="tabla-datos">
        <p>Tabla de datos por mostrar</p>
    </div>

    <div class="apartado-botones-secundarios">
        <button type="button" >Agregar</button>
        <button type="button" >Modificar</button>
        <button type="button" >Eliminar</button>
    </div>

</div>


</body>
</html>